/*variable*/
:root{
--dark-color: black;
--text-box-color:#ff5400;
--body-border-color:black ;
--background-color:grey;
--hover-color:red;
--h2-font-size: 25px;
--p-font-size: 16px;
--padding-contour-text: 4%;
--padding-entre-titre-paragraphe: 10%;
--dimension-img-dans-grid: 100%;
font-family: "preconnect, Arial";
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: var(--body-border-color);
    margin: 3%; 
}

p{
    font-size: var(--p-font-size);
}

h2{
   font-size: var(--h2-font-size);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration:none;
    color: var(--dark-color);
  }

.text-style{
    border-width: 2px;
    border-style: solid;
    border-color:var(--dark-color);
    background-color: var(--text-box-color);
    text-align: center;
}

.boutton{
    position:relative;
    background-color: var(--text-box-color);
    padding: 10px;
    border-radius: 5px;
    border-style:inset;
    text-decoration: none;
    color: var(--dark-color);
    border-color: var(--dark-color);
}

.nav-bar{
    text-align: center;
    background-color: var(--background-color);
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.paragraphe-modele-droit{
    margin-left: 20%;
    padding: var(--padding-contour-text); 
}

.paragraphe-modele-gauche{
    margin-right: 20%;
    padding: var(--padding-contour-text); 
}

.titre{
    padding: var(--padding-contour-text);
}

img{
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.contour-image-titre{
    background-color: var(--background-color);
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
}

.boutton:hover {
top : 2px;
background-color: var(--hover-color);
}

.grid-container-page-principale{
    margin-top: 7%;
    display: grid;
    background-color: var(--background-color);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 3%;
}

.grid-item-titre{
    grid-column: 1/3;
    grid-row: 1/1;
    padding-bottom: var(--padding-entre-titre-paragraphe);
}

.center-element{
display: flex;
flex-direction: column;
justify-content: space-around;
justify-content: center;
align-items: center;
}

.grid-item-img-gauche{
grid-column: 1/1;
grid-row: 2/2;
width: var(--dimension-img-dans-grid);
height: var(--dimension-img-dans-grid);
}

.grid-item-img-droit{
    grid-column: 2/2;
    grid-row: 2/2;
    width: var(--dimension-img-dans-grid);
    height: var(--dimension-img-dans-grid);
}

.grid-item-text-droit{
    grid-column: 2/2;
    grid-row: 2/2;
}

.grid-item-text-gauche{
    grid-column: 1/1;
    grid-row: 2/2;
}

.grid-container-page-contact{
    width: 100%;
    display: grid;
    background-color: var(--background-color);
    align-content: center;
    justify-items: center;
    height: auto;
}

.grid-item-page-contact-top{
    text-align: center;
    grid-row: 1/1;
    padding: var(--padding-contour-text);
}

.grid-item-page-contact-middle{
    height: 5%;
    width: 80%;
    text-align: center;
    grid-row: 2/2;
    padding: var(--padding-contour-text);
}

.grid-item-page-contact-bottom{
    text-align: center;
    grid-row: 3/3;
    padding: var(--padding-contour-text);
    width: 80%;
    height: 5%;
}

.conteneur-text-contact{
    padding: var(--padding-contour-text);
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
}